mixin menu()
    li
        a(href="personal.html") Личная информация
    li
        a(href="services.html") Сервисы интернета
    li
        a(href="gallery.html") Галерея
    li
        a(href="hobby.html") Хобби
    li
        a(href="contact.html") Контакты

doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        block title
            title 2015 - Jane Kolbasina
        meta(name='description', content='КУРСОВА РОБОТА З «ІНФОРМАТИКИ» НА ТЕМУ «СТВОРЕННЯ WEB-САЙТУ»')
        style .side-nav { position: absolute; width: 0 }
        link(rel='stylesheet', media="screen,projection", href='plugins/jquery.fancybox.css')
        link(rel='stylesheet', media="screen,projection", href='plugins/css/materialize.min.css')
        link(rel='stylesheet', media="screen,projection", href='site.css')
    body
        nav(class="light-blue lighten-1", role="navigation")
            div.nav-wrapper.container
                a.brand-logo(id="logo-container", href="index.html") Jane
                ul.right.hide-on-med-and-down
                    +menu()
                ul.side-nav(id="nav-mobile")
                    +menu()
                a(href="#", data-activates="nav-mobile", class="button-collapse")
                    i.mdi-navigation-menu

        div.container
            <!--[if lt IE 8]>
            div.section
                p.browsehappy
                    | You are using an <strong>outdated</strong> browser.
                    | Please <a href="http://browsehappy.com/">upgrade your browser</a>
                    | to improve your experience.
            <![endif]-->
            div.section
                block content

        script(src='plugins/jquery.min.js')
        script(src='plugins/jquery.fancybox.pack.js')
        script(src='plugins/js/materialize.min.js')
        script(src='site.js')