extends _layout
block title
    title Контакты (обратная связь)
block content
    h1 Контакты
    table.bordered
        tr
            td
                | ФИО
            td
                | Лыгач Евгения Анатольевна
        tr
            td
                | Email
            td
                a(href="mailto:jane.kolbasina@gmail.com")
                    | jane.kolbasina@gmail.com
        tr
            td
                | Однокласники
            td
                a(href="http://ok.ru/profile/536759031922")
                    | http://ok.ru/profile/536759031922