extends _layout
block title
    title Контакты (обратная связь)
block content
    h1 Контакты (обратная связь)
    article
        table.bordered
            tr
                td
                    | ФИО
                td
                    | Колбасина Евгения
            tr
                td
                    | ФИО
                td
                    | Колбасина Евгения