mixin photo(title, path)
    div.card.light-blue.lighten-1
        div.card-content
            span.card-title
                =title
            a.fancybox(rel="group", href=path)
                img(width="100%", src=path, alt=title)

extends _layout
block title
    title Галерея

block content
    h1 Галерея
    article
        header
            h3 20+ Beautiful And Amazing desktop Wallpapers
            a(href="http://funcrisp.com/2015/04/07/20-beautiful-and-amazing-desktop-wallpapers/")
                | оригинальный источник
        div.row
            +photo("Leaf", "photos/Leaf.jpg")
            +photo("Blue Eyes", "photos/BlueEyes.jpg")
            +photo("Light", "photos/Light.jpg")
            +photo("Flowers", "photos/Flowers.jpg")