extends _layout
block title
    title Галерея

block styles
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', media="screen,projection")

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')

block content
    h1 Галерея
    article
        header
            h3 20+ Beautiful And Amazing desktop Wallpapers
            a(href="http://funcrisp.com/2015/04/07/20-beautiful-and-amazing-desktop-wallpapers/")
                | оригинальный источник

        div.row
            div.card.light-blue.lighten-1
                div.card-content
                    span.card-title Leaf
                    a.fancybox(rel="group", href="photos/Leaf.jpg")
                        img(width="100%", src="photos/Leaf.jpg", alt="Leaf")

            div.card.light-blue.lighten-1
                div.card-content
                    span.card-title Blue Eyes
                    a.fancybox(rel="group", href="photos/BlueEyes.jpg")
                        img(width="100%", src="photos/BlueEyes.jpg", alt="Blue Eyes")

            div.card.light-blue.lighten-1
                div.card-content
                    span.card-title Light
                    a.fancybox(rel="group", href="photos/Light.jpg")
                        img(width="100%", src="photos/Light.jpg", alt="Light")

            div.card.light-blue.lighten-1
                div.card-content
                    span.card-title Flowers
                    a.fancybox(rel="group", href="photos/Flowers.jpg")
                        img(width="100%", src="photos/Flowers.jpg", alt="Flowers")