extends _layout
block title
    title Хобби
block content
    h1 Мое хобби - моя дочь

    p Как воспитать ребенка личностью независимой, незаурядной, целеустремленной и просто целостной? Воспитание ребенка – труд непрерывный и весьма сложный. Я регулярно ищу различную информацию на эту тему.
    p Все родители и педагоги знают, что ребенок лучше всего учатся на чужом примере. И в первую очередь таким примером служат сами родители. То есть, если отец говорит сыну: «Мой руки перед едой», а сам, приходя с работы, этого не делает, то, сколько бы малыша не ругали, у него всегда будет подсознательное стремление поступать так, как отец. Возникает конфликт в воспитании – несоответствие требуемого и действительного. И это несоответствие будет рождать непонимание и сопротивление.
    p Конечно же, в каждой конкретной семье есть свои представления о воспитание детей. Но интересно посмотреть, какие практики воспитания существуют. Недавно прочитала девять заповедей воспитания ребенка  из «Домашней энциклопедии». Это довольно интересные мысли, предлагаю и вам обратить на них внимание.
    h5 9 заповедей воспитания ребенка:
    ol
        li Не жди, что твой ребенок будет таким, как ты. Или – как ты хочешь. Воспитание должно помочь ему стать не тобой, а собой.
        li Не требуй от ребенка платы за все, что ты для него делаешь: ты дал ему жизнь, как он может отблагодарить тебя? Он даст жизнь другому, тот – третьему: это необратимый закон благодарности.
        li В процессе воспитания не вымещай на ребенке свои обиды, чтобы в старости не есть горький хлеб, ибо что посеешь, то и взойдет.
        li Не относись к его проблемам свысока: тяжесть жизни дана каждому по силам, и, будь уверен, ему его тяжела не менее, чем тебе твоя. А может и больше. Потому что у него еще нет привычки.
        li Не унижай в процессе воспитания.
        li Не мучай себя, если не можешь чего-то сделать для своего ребенка, мучай, если можешь и не делаешь.
        li Помни – для ребенка сделано недостаточно, если не сделано все. Это важнейший закон воспитаний!
        li Умей любить чужого ребенка. Никогда не делай чужому то, что не хотел бы, чтобы другие сделали твоему.
        li Люби своего ребенка любым: неталантливым, неудачливым, взрослым; общаясь с ним, радуйся, потому что ребенок – это праздник, который пока с тобой.

    p Можно сделать из всего этого вывод: дети рождаются не только для того, чтобы мы их воспитывали, но и для того, чтобы они воспитывали нас. Для того чтобы сделать своего ребенка лучше, хорошему родителю приходится стать лучше самому.