mixin timeline(period, description)
    div.row
        div.col.s12.m3
            strong
                =period
        div.col.s12.m9
            =description

extends _layout
block title
    title Личная информация
block content
    h1 Лыгач Евгения Анатольевна
    div.row
        div.col.s12.m3
            img(src="photos/avatar.jpg", alt="Лыгач Eвгения Анатольевна", width="100%")
        div.col.s12.m9
            table.bordered
                tbody
                    tr
                        td Учебное заведение:
                        td
                            | Красноармійський індустріальний інститут
                            br
                            | Державного вищого навчального закладу
                            br
                            | «Донецький національний технічний університет»
                    tr
                        td Кафeдра:
                        td Природничих наук
                    tr
                        td Группа:
                        td ГСпр14-4з
    +timeline('8 декабря 1983 года', 'Родилась в городе Горняк.')
    +timeline('1999 год', 'Закончила общеобразовательную школу №19.')
    +timeline('с 1999 по 2003 год', 'Закончила Высшее Профессиональнок Училище №67 в городе Донецк по специальности "Станочник широкого профеля оператор с ЧПУ".')
    +timeline('2003 год', 'Поступила в ДонНТУ на Машиностроительный факультет по специальности "Технология машиностроения".')
    +timeline('c 2004 по 2005 год', 'Работала на КВЗ оператором ЧПУ 5 разряда.')
    +timeline('в 2005 году', 'Работала на ЗАО "КОНТИ" укладчиком-упаковщиком.')
    +timeline('в 2006 году', 'Поступила в Донецкий институт социального образования (ДИСО) по специальности "Экономика предприятия" и работала в сети супермакетов "VARUS" укладчиком-упаковщиком.')
    +timeline('в 2008 году', 'Работала на ЗАО "КОНТИ" укладчиком-упаковщиком.')
    +timeline('в 2009 году', 'Родилась дочь - Акопян Аурика Анрониковна.')
    +timeline('в 2010 году', 'Поступила в Селидовский горный техникум по специальности "Разработка полезных ископаемых".')
    +timeline('с 2012 по 2013 год', 'Работаю на шахте ШУ "Покровское" горным мастером ВТБ.')
    +timeline('с 2013 по 2014 год', 'Работаю на шахте ШУ "Покровское" начальником смены по анкерному креплению.')
    +timeline('2014 год', 'Поступила в "Красноармійський індустріальний інститут державного вищого навчального закладу "Донецький національний технічний університет".')